<section class="common-hero-section container" [ngStyle]="headerImgStyle">
  <div class="separator"></div>
  <div class="common-hero-section-title" data-aos="fade-up" data-aos-duration="1000">
    <h3 data-aos="fade-down" data-aos-duration="800" data-aos-delay="200">Contact Us</h3>
    <p data-aos="fade-up" data-aos-duration="600" data-aos-delay="400">Home - Contact Us</p>
  </div>
</section>
<section class="container contact-us-form-section row">
  <div class="col-12 col-lg-7 contact-us-form-address-section" data-aos="fade-right" data-aos-duration="1000">
    <h4 data-aos="fade-down" data-aos-duration="800" data-aos-delay="200">KMS Strategic Advisors LLP</h4>
    <div class="row">
      <!-- <div class="col-12 col-lg-6"> -->
      <h5>Address:</h5>
      <div class="contact-us-address-section">
        <p>302, Shivalik 10, Opp. SBI Zonal Office,</p>
        <p>S.M. Road, Ambawadi,</p>
        <p>Ahmedabad – 380015,</p>
        <p>Gujarat – India.</p>
      </div>
      <!-- </div> -->
      <!-- <div class="col-12 col-lg-6"></div> -->
      <div class="contact-us-phone-email-section">
        <div class="contact-us-content-card" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
          <div class="icon-wrapper">
            <mat-icon>mail</mat-icon>
          </div>
          <p class="contact-us-content-card-title">Email address</p>
          <p>info@kms-advisors.com</p>
        </div>
        <div class="contact-us-content-card" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
          <div class="icon-wrapper">
            <mat-icon>phone_in_talk</mat-icon>
          </div>
          <p class="contact-us-content-card-title">Phone:</p>
          <div class="d-flex flex-wrap gap-2">
            <p>+91 79 26309540</p>
            <p>+91 79 26309520</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-5" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
    <div class="contact-wrapper">
      <div class="form-box p-4 p-md-5">
        <h2 class="form-title mb-4" data-aos="fade-down" data-aos-duration="800" data-aos-delay="500">
          Have a question?<br />
          <span>Write to us!</span>
        </h2>

        <form [formGroup]="contactForm" (ngSubmit)="submit()">
          <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="fullName" placeholder="Enter name" />
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Enter your email" />
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" placeholder="Enter your phone number" />
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Message</mat-label>
            <textarea
              matInput
              formControlName="message"
              rows="4"
              placeholder="How can we help you?"
            ></textarea>
          </mat-form-field>

          <!-- <div class="captcha-box mb-4">
            <mat-checkbox formControlName="captcha"> I'm not a robot </mat-checkbox>
          </div> -->
          <button class="contact-us-form-btn">Send a message<mat-icon>keyboard_arrow_right</mat-icon></button>
         
        </form>
      </div>
    </div>
  </div>
</section>
<!-- <section class="contact-us-map-section">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14315.826735034905!2d72.54098218827362!3d23.022828438446705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84e6ff9ceb05%3A0xfa22919acaa74575!2sKunte%20%26%20Modha!5e0!3m2!1sen!2sin!4v1762773879009!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section> -->
