.contact-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.form-title {
  font-weight: 700;
  color: var(--primary-color);

  span {
    color: var(--primary-color);
    font-weight: 700;
  }
}

.form-box {
  background: var(--form-bg);
}

mat-form-field {
  background: transparent;

  ::ng-deep .mat-mdc-text-field-wrapper {
    border-radius: 0;
  }

  // ::ng-deep .mat-mdc-form-field-label {
  //   color: var(--primary-color) !important;
  // }

  // ::ng-deep .mat-mdc-floating-label {
  //   color: var(--primary-color) !important;
  // }

  ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    color: var(--primary-color) !important;
    font-weight: 500;
  }

  ::ng-deep .mdc-line-ripple::before {
    border-bottom-color: #BACBDC !important;
  }

  ::ng-deep .mdc-line-ripple::after {
    border-bottom-color: #BACBDC !important;
  }

  ::ng-deep .mdc-text-field--filled .mdc-line-ripple {
    border-bottom-color: #BACBDC !important;
  }

  ::ng-deep .mdc-notched-outline__leading,
  ::ng-deep .mdc-notched-outline__notch,
  ::ng-deep .mdc-notched-outline__trailing {
    border-color: #BACBDC !important;
  }

  // ::ng-deep .mat-mdc-form-field-focus-overlay {
  //   background-color: transparent !important;
  // }

  ::ng-deep input::placeholder,
  ::ng-deep textarea::placeholder {
    color: #BACBDC !important;
    // opacity: 1;
  }

  ::ng-deep .mat-mdc-input-element::placeholder {
    color: #BACBDC !important;
    // opacity: 1;
  }
}


.contact-us-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 100%;
  padding-block: 20px;
  border: none;
  outline: none;
  color: var(--theme-white);
  font-size: var(--fs-sub-title);
  mat-icon {
    height: 22px;
  }
  &:hover{
    opacity: 0.9;
  }
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: transparent !important;
}