image: node:20

stages:
  - setup
  - test
  - build
  - deploy

install:
  stage: setup
  script:
    - npm ci




    
# cache:
#   paths:
#     - node_modules/

# stages:
#   - build
#   - deploy

# build_app:
#   stage: build
#   script:
#     - npm ci
#     - npm run build -- --output-hashing=all
#   artifacts:
#     paths:
#       - dist/
#     expire_in: 1 week

# deploy_pages:
#   stage: deploy
#   script:
#     - mkdir -p public
#     - cp -r dist/kms-advisors/browser/* public/
#   artifacts:
#     paths:
#       - public
#   only:
#     - main
