<!-- footer.component.html -->
<footer class="footer-section text-light">
  <div class="footer-section-top py-5">
    <div class="container row">
      <!-- Logo -->
      <div
        class="footer-logo-div col-12 col-lg-3 mb-4 mb-md-0 d-flex justify-content-center justify-content-md-start"
      >
        <img src="assets/images/footer-logo.svg" alt="KMS Logo" class="footer-logo" />
      </div>

      <!-- Main Links -->
      <div class="col-6 col-md-4 col-lg-3 mb-4 mb-md-0 footer-content-center">
        <h6 class="footer-title">Main Links</h6>
        <ul class="list-unstyled footer-links">
          <li><a href="#" (click)="handleRouterChange()" routerLink="/home">Home</a></li>
          <li><a href="#" (click)="handleRouterChange()" routerLink="/about">About Us</a></li>
          <li><a href="#" (click)="handleRouterChange()" routerLink='kms-expertise/business-advisory'>KMS Expertise</a></li>
          <li><a href="#" (click)="handleRouterChange()" routerLink="/kms-approach">KMS Approach</a></li>
          <li><a href="#" (click)="handleRouterChange()" routerLink="/industries">Industries</a></li>
        </ul>
      </div>

      <!-- Quick Links -->
      <div class="col-6 col-md-4 col-lg-3 mb-4 mb-md-0 footer-content-center">
        <h6 class="footer-title">Quick Links</h6>
        <ul class="list-unstyled footer-links">
          <li><a href="#">Testimonials</a></li>
          <li><a href="#" (click)="handleRouterChange()" routerLink="/contact-us">Contact Us</a></li>
        </ul>
      </div>

      <!-- Office Address -->
      <div class="col-12 col-md-4 col-lg-3 footer-content-center">
        <h6 class="footer-title">Office Address</h6>
        <ul class="footer-address">
          <li>
            <div><mat-icon>location_on</mat-icon></div>
            <div>
              KMS Strategic Advisors LLP,<br />302, Shivalik 10, Opp. SBI Zonal Office,<br />S.M.
              Road, Ambawadi, Ahmedabad - 380015,<br />Gujarat - India.
            </div>
          </li>
          <li><mat-icon>email</mat-icon> info@kms-advisors.com</li>
          <li><mat-icon>phone_in_talk</mat-icon> +91 79 26309540</li>
        </ul>
        <!-- <div class="mb-1 d-flex footer-address">
          <div>
            <mat-icon>location_on</mat-icon>
          </div>
          <div>
            KMS Strategic Advisors LLP,<br />302, Shivalik 10, Opp. SBI Zonal Office,<br />S.M.
            Road, Ambawadi, Ahmedabad - 380015,<br />Gujarat - India.
          </div>
        </div>
        <p class="mb-1 footer-address"><mat-icon>email</mat-icon> info@kms-advisors.com</p>
        <p class="footer-address"><mat-icon>phone</mat-icon> +91 79 26309540</p> -->
      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="footer-bottom text-center py-2">KMS Strategic Advisors LLP © All Rights Reserved</div>
</footer>
