// .hero-section {
//   // width: 100vh;
//   // height: 100vh;
//   display: flex;
//   flex-direction: column;
//   gap: 28px;
//   justify-content: center;
//   align-items: center;
//   // background: #002B58;
//   // background: linear-gradient(180deg,rgba(0, 43, 88, 1) 0%, rgba(64, 126, 191, 1) 100%);
//   // background: url('assets/images/hero-bg-img-gradient.png');

//   .content {
//     position: relative;
//     z-index: 2; // ensures text is above overlay
//   }

//   position: relative;
//   height: 100vh;
//   overflow: hidden;

//   .hero-video {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     min-width: 100%;
//     min-height: 100%;
//     width: auto;
//     height: auto;
//     transform: translate(-50%, -50%);
//     object-fit: cover;
//     z-index: 0;
//   }
//   .hero-section-title {
//     font-size: var(--fs-hero-title);
//     font-weight: bold;
//     max-width: 700px;
//     text-align: center;
//     color: var(--theme-white);
//     z-index: 1;
//   }
//   .hero-section-tags {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 20px;
//   // background: url('assets/images/hero-bg-img-gradient.png') center/cover no-repeat;
//   flex-wrap: wrap; // responsive

//   .tag-btn {
//     color: var(--theme-white);
//     font-weight: medium;
//     font-size: var(--fs-sub-title);
//     padding: 0.8rem 1.2rem;
//     // border-radius: 6px;
//     // background: #FFFFFF 0% 0% no-repeat padding-box;
//     border: 2px solid #D1E7FF;
//     backdrop-filter: blur(10px);
//     -webkit-backdrop-filter: blur(10px);
//     transition: all 0.3s ease;

//     &:hover {
//       transform: translateY(-2px);
//     }
//   }
// }

//   .hero-section-tags {
//     z-index: 1;
//     .tag-btn {

//     }
//   }

//   // &::after {
//   //     content: '';
//   //     position: absolute;
//   //     inset: 0;
//   //     background: rgba(0, 0, 0, 0.4); // subtle overlay for contrast
//   //     z-index: 0;
//   // }
// }

// .providing-section-title{
//   font-size:var(--fs-custom-40);
//   color: var(--primary-color);
//   font-weight: bold;
//   letter-spacing: 0px;
//   line-height: 50px;
// }

// .providing-section-content{
//   font-size: var(--fs-body);
//   color: var(--muted-text);
// }