<app-common-img-and-content
  [headerBg]="headerBg"
  [headerTitle]="headerTitle"
  [headerSubTitle]="headerSubTitle"
  [sections]="sections"
></app-common-img-and-content>

<section class="business-succession-section">
  <div class="row flex-column-reverse flex-lg-row container mx-auto">
    <div class="about-kms-team-content col-12 col-lg-6 d-flex pe-md-2" data-aos="fade-right" data-aos-duration="1000">
      <h4 data-aos="fade-down" data-aos-duration="800" data-aos-delay="200">Wealth Succession</h4>
      <p>
        It is the strategic process of transferring wealth, assets, and responsibilities across
        generations to ensure long-term preservation, harmony, and control. At KMS, we offer a
        comprehensive suite of services, including will drafting, trust structuring, family business
        succession, tax and legal compliance, and legacy planning. Our approach blends financial
        expertise with an understanding of family dynamics to deliver personalized, tax-efficient,
        and dispute-resistant solutions.
      </p>
      <p>
        By aligning your values with your wealth goals, we help ensure that your legacy is
        protected, your family is prepared, and your transition is smooth and future ready.
      </p>
      <p class="light-blue">
        Family & Business Succession Planning | Estate planning & Settlements | Wealth transfer
        Structures
      </p>
    </div>
    <div class="col-12 col-lg-6 business-succession-img" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
      <img class="main-img" src="assets/images/expertise/wealth-succession.png" />
    </div>
  </div>
</section>
