<section class="common-hero-section container" [ngStyle]="headerImgStyle">
  <div class="separator"></div>
  <div class="common-hero-section-title" data-aos="fade-up" data-aos-duration="1000">
    <h3 data-aos="fade-down" data-aos-duration="800" data-aos-delay="200">KMS Approach</h3>
    <p data-aos="fade-up" data-aos-duration="600" data-aos-delay="400">Home - KMS Approach</p>
  </div>
</section>
<section class="kms-approach-discovery common-title-description-content container">
  <h4>Discovery</h4>
  <p>
    Since its inception more than four decades ago, KMS has functioned as a solid partnership bound
    by a shared set of principles and the desire to bring about long-lasting, constructive change.
    Founded in 1981 in Ahmedabad, KMS started off by providing corporate, legal, tax, and advisory
    services. Within just five years of business, the entity grew to offer legal advice, project and
    implementation management, fundraising, initial public offerings, and structuring. The following
    few decades turned out to be a time of expansion, innovation, collaborations, and partnerships.
    Turnaround and revival advisory, microfinance, venture funds, AIF, investment & structuring
    advisory, business strategic advisory, SEZ & Industrial Park, corporate governance, cross-border
    business expansion, succession planning & management, family office, technology business
    initiative, strategic investment, and entrepreneur mentoring & support are just a few of the
    advisory services the entity has diversified to offer.
  </p>
  <div>
    <p>
      Given the entity’s rapid growth in terms of clientele, services rendered, and sectors covered,
      KMS is now well-known in the advisory and consulting sector. KMS has more than 100 clients
      across regions and sectors, including technology, manufacturing, infrastructure, and finance.
      KMS operates under the highest ethical and professional standards as a value-driven company.
      In addition to the rapid expansion, KMS is combining innovative tactics and game-changing
      technology to help businesses innovate, achieve long-term performance improvements, and build
      a solid organizational framework that will serve them far into the future.
    </p>
    <p class="light-blue pt-2">
      Key Parameters / Fundamental Health Checks | Legal and structural checks
    </p>
  </div>
</section>

<section class="kms-approach-advisory">
  <div class="row container flex-column-reverse flex-lg-row">
    <div
      class="kms-approach-advisory-bg-content col-12 col-lg-6 col-6 common-title-description-content" data-aos="fade-right" data-aos-duration="1000"
    >
      <h4 data-aos="fade-down" data-aos-duration="800" data-aos-delay="200">Advisory & Solution</h4>
      <p>
        Your business can be complex or simple. Your idea could be the next big thing. Your
        innovation may be the catalyst for global transformation. No matter what capabilities and
        competencies your business possesses, KMS has the ability and experience to help you
        transform the next to now. Being an advising and consulting entity having hands-on
        experience, we help and counsel you to move decisively to achieve successful results in all
        areas.
      </p>
      <p>
        We support you in finding development possibilities, navigating difficult situations, making
        well-informed decisions, and enhancing governance and risk management. Our capable team of
        experts focuses on important strategic solutions and innovative approaches for problems or
        challenges that have the power to influence the overall performance and direction of your
        company.
      </p>
      <div>
        <p>
          KMS collaborates with your organization to identify and diagnose problems, develop
          workable solutions, and analyze issues, challenges, or possibilities with open mind
          flexibility. The intended results are obtained by providing hands-on help throughout the
          process.
        </p>
        <p class="light-blue pt-1">
          Value Added Solutions | Strategy to Create Value and Alignment
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-6 kms-approach-advisory-img" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
      <img class="main-img" src="assets/images/kms-approach/advisory.png" />
    </div>
  </div>
</section>

<section class="row kms-approach-strategies container">
  <div class="d-none d-lg-block col-lg-6"></div>
  <div class="col-12 col-lg-6 kms-approach-strategies-content" data-aos="fade-left" data-aos-duration="1000">
    <h4 data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">Implementation Strategies</h4>
    <p>
      KMS provides implementation strategies and support that help your business thrive, grow and
      achieve the desired goal. Whether it's project planning, business analysis, or crisis
      management, our experienced resources provide strategies and navigate your team to reach the
      destined objective.
    </p>
    <p>
      During the period of engagement, we will work with you closely to identify the gaps, analyze
      the situation, structure the solution, and provide implementation strategies with flexibility
      and contingency planning with support from our experts and associates.
    </p>
    <p>Systematic Planning | Implementation Strategies</p>
  </div>
</section>

<section class="container pb-5 providing-section mx-auto row flex-column-reverse flex-lg-row common-section-top-spacing">
  <div class="col-12 col-lg-6 d-flex pe-md-2" data-aos="fade-right" data-aos-duration="1000">
    <div class="providing-section-container d-flex flex-column justify-content-center">
      <p class="providing-section-title" data-aos="fade-down" data-aos-duration="800" data-aos-delay="200">Review & Monitoring</p>
      <div>
      <p class="providing-section-content">
        KMS review and monitoring helps clients with properly documented and consistent reporting
        solutions, which provide essential insights and analysis to objectively evaluate, measure,
        and monitor key risks and assess performance. We offer support in review of existing
        reports, impact & gap assessment, quantitative impact assessment, and development of
        standardized & structured reports, both for internal and external purposes.
      </p>
      <p class="providing-section-content light-blue pt-2">
        Performance Evaluation | Review Objectives and Actions Meeting Expectations
      </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 image-wrapper" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
    <img class="main-img" src="assets/images/kms-approach/kms-approach-review.png" />
  </div>
</section>
